<script>
import { PageContentable } from '../page'
import TextControl from 'controls/text-control'
import SwitchControl from 'controls/switch-control'
import AvatarControl from 'controls/avatar-control'

export default {
  name: 'UserSettingsAccountContent',
  components: {
    TextControl,
    SwitchControl,
    AvatarControl
  },
  mixins: [PageContentable],
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <switch-control
      v-if="$config.current_user.isAdmin"
      v-model="value.isAdmin"
      :disabled="$config.isCurrentUser(value)"
      label="Admin"
      :request-parameter="{method: 'patch', url: $apiEndpoints.userSettings.updateAdminStatus(value.id), mapping: 'admin'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <text-control
      v-model="value.email"
      label="E-Mail"
      :request-parameter="{method: 'patch', url: $apiEndpoints.userSettings.update(value.id), mapping: 'email'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <text-control
      v-model="value.firstname"
      label="Vorname"
      :request-parameter="{method: 'patch', url: $apiEndpoints.userSettings.update(value.id), mapping: 'firstname'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <text-control
      v-model="value.lastname"
      label="Nachname"
      :request-parameter="{method: 'patch', url: $apiEndpoints.userSettings.update(value.id), mapping: 'lastname'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <avatar-control
      :value="value.avatar"
      label="Avatar"
      :request-parameter="{method: 'patch', url: $apiEndpoints.userSettings.update(value.id), mapping: 'avatar'}"
      @request-success-data="onUpdated"
    />
  </div>
</template>
