<script>
import { PageContentable } from '../page'
import SelectControl from 'controls/select-control'
import { formatDateTime } from 'helpers/date'

export default {
  name: 'SettingsNotificationsContent',
  components: {
    SelectControl
  },
  mixins: [PageContentable],
  computed: {
    nextDeliveryDateTime () {
      return formatDateTime(new Date(this.value.notifications.next_send_at))
    }
  },
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <h2 class="text-h5 font-weight-light mb-4">
      Benachrichtigungen per E-Mail
    </h2>
    <select-control
      v-if="$config.current_user.isAdmin || $config.isCurrentUser(value)"
      v-model="value.notifications.interval"
      :items="value.notifications.items"
      label="Neue Benachrichtigungen per E-Mail"
      :request-parameter="{method: 'patch', url: $apiEndpoints.userSettings.updateNotificationSettings(value.id), mapping: 'interval'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />
    <div v-if="value.notifications.next_send_at">
      <p>Nächste E-Mail wird zugestellt am {{ nextDeliveryDateTime }} Uhr oder später, sobald eine neue Benachrichtigung vorliegt.</p>
    </div>
    <div v-else>
      <p>Es werden keine Benachrichtigungen zugestellt.</p>
    </div>
  </div>
</template>
