<script>
import { PageContentable } from '../page'
import Requestable from 'mixins/requestable'
import Request from 'api/request'
import TextControl from 'controls/text-control'

export default {
  name: 'UserSettingsPasswordContent',
  components: {
    TextControl
  },
  mixins: [PageContentable, Requestable],
  data () {
    return {
      user: {
        current_password: '',
        password: '',
        password_confirmation: ''
      },
      showSuccessConfirmation: false
    }
  },
  computed: {
    valid () {
      return this.user.password !== '' && this.user.password_confirmation !== '' &&
          (this.user.current_password !== '' || (this.$config.current_user.isAdmin && !this.$config.isCurrentUser(this.value)))
    }
  },
  methods: {
    save () {
      this.request(
        { method: Request.PATCH, url: this.$apiEndpoints.userSettings.updatePassword(this.value.id) },
        null, this.user
      )
    },
    onRequestSuccess (data) {
      this.user.current_password = ''
      this.user.password = ''
      this.user.password_confirmation = ''

      this.showSuccessConfirmation = true
    },
    onInput () {
      this.showSuccessConfirmation = false
    }
  }
}
</script>
<template>
  <div v-if="value">
    <text-control
      v-if="!$config.current_user.isAdmin || $config.isCurrentUser(value)"
      v-model="user.current_password"
      label="Aktuelles Passwort"
      :options="{type: 'password'}"
      :error-messages="validationErrorMessageFor('current_password')"
      class="mb-5"
      @input="onInput"
    />
    <text-control
      v-model="user.password"
      label="Neues Passwort"
      :options="{type: 'password'}"
      :error-messages="validationErrorMessageFor('password')"
      class="mb-5"
      @input="onInput"
    />
    <text-control
      v-model="user.password_confirmation"
      label="Neues Passwort wiederholen"
      :options="{type: 'password'}"
      :error-messages="validationErrorMessageFor('password_confirmation')"
      class="mb-8"
      @input="onInput"
    />
    <v-btn
      color="primary"
      :disabled="!valid || requestableLoading"
      depressed
      @click="save"
    >
      Passwort ändern
    </v-btn>
    <v-alert
      v-if="showSuccessConfirmation"
      type="success"
      class="mt-5"
    >
      Passwort wurde erfolgreich geändert
    </v-alert>
  </div>
</template>
