<script>
import * as clipboard from 'clipboard-polyfill'
import keys from 'lodash/keys'
import every from 'lodash/every'
import includes from 'lodash/includes'
import forEach from 'lodash/forEach'

export default {
  name: 'CopyToClipboardBtn',
  props: {
    value: {
      type: Object,
      default: undefined,
      validator: value => {
        return every(keys(value), val => includes(['text/plain', 'text/html'], val))
      }
    }
  },
  data () {
    return {
      snackbar: false,
      error: false
    }
  },
  methods: {
    showSuccessMessage () {
      this.error = false
      this.snackbar = true
    },
    showErrorMessage () {
      this.error = true
      this.snackbar = true
    },
    copyToClipboard () {
      if (this.value && keys(this.value).length) {
        const items = {}
        forEach(this.value, (value, key) => {
          items[key] = new Blob(
            [value],
            { type: key }
          )
        })
        const item = new clipboard.ClipboardItem(items)

        clipboard.write([item]).then(
          () => this.showSuccessMessage(),
          () => this.showErrorMessage()
        )
      }
    }
  }
}
</script>
<template>
  <v-tooltip top>
    <template #activator="{ on, attrs }">
      <v-btn
        tabindex="-1"
        style="pointer-events: all;"
        icon
        x-small
        v-bind="attrs"
        v-on="on"
        @click="copyToClipboard"
      >
        <v-icon>mdi-content-copy</v-icon>
      </v-btn>
      <v-snackbar
        v-model="snackbar"
        :color="error ? 'error' : undefined"
      >
        {{ error ? 'In die Zwischenablage kopieren war nicht möglich.' : 'Erfolgreich in die Zwischenablage kopiert.' }}
      </v-snackbar>
    </template>
    <span>In Zwischenablage kopieren</span>
  </v-tooltip>
</template>
