<script>
import reduce from 'lodash/reduce'

export default {
  name: 'KebabMenu',
  props: {
    disabled: Boolean,
    color: {
      type: String,
      default: undefined
    },
    btnClass: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      menuOpen: false
    }
  },
  computed: {
    hasSlotItems () {
      return reduce(this.$scopedSlots.items(), (res, item) => {
        return res || !!item.context
      }, false)
    }
  },
  methods: {
    closeMenu () {
      this.menuOpen = false
    }
  }
}
</script>
<template>
  <v-menu
    v-if="hasSlotItems"
    v-model="menuOpen"
    left
  >
    <template #activator="{ on }">
      <v-btn
        :disabled="disabled"
        :color="color"
        icon
        :class="btnClass"
        v-on="on"
      >
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>

    <v-list>
      <slot
        name="items"
        :closeMenu="closeMenu"
      />
    </v-list>
  </v-menu>
</template>
