<script>
export default {
  name: 'SmartList',
  props: {
    value: {
      type: Array,
      default: () => undefined
    },
    loading: Boolean,
    emptyListMessage: {
      type: String,
      default: 'Für diese Filtereinstellungen gibt es keine Ergebnisse.'
    }
  }
}
</script>
<template functional>
  <div
    v-bind="data.attrs"
    :class="[data.class, data.staticClass]"
    :style="[data.style, data.staticStyle]"
  >
    <v-alert
      v-if="!props.loading && props.value !== undefined && props.value.length === 0"
      type="info"
      text
      class="mt-6"
    >
      {{ props.emptyListMessage }}
    </v-alert>

    <v-list
      v-else-if="props.loading || (props.value !== undefined && props.value.length > 0)"
      class="py-0"
    >
      <v-list-item
        v-if="props.loading"
        two-line
        class="py-2"
      >
        <v-list-item-content class="text-center">
          <v-progress-circular
            color="primary"
            indeterminate
          />
        </v-list-item-content>
      </v-list-item>

      <slot
        v-for="item in props.value"
        v-else
        :item="item"
      />
    </v-list>
  </div>
</template>
