<script>
import { PageContentable } from '../page'
import Breadcrumbs from 'components/breadcrumbs'
import PageDetailHeader from 'components/page-detail-header'
import KebabMenu from 'components/kebab-menu'
import CustomDialog from 'components/custom-dialog'
import Request from 'api/request'
import Ambition from 'mixins/models/ambition'
import TitleDescriptionControl from 'controls/title-description-control'
import ObjectsControl from 'controls/objects-control'
import WorkflowListItem from 'list-items/workflow-list-item'
import ActivityHub from 'components/activity-hub'
import { routeFor } from 'helpers/route'

export default {
  name: 'AmbitionEditContent',
  components: {
    Breadcrumbs,
    PageDetailHeader,
    KebabMenu,
    CustomDialog,
    TitleDescriptionControl,
    ObjectsControl,
    WorkflowListItem,
    ActivityHub
  },
  mixins: [PageContentable, Ambition],
  inject: {
    helper: {
      default: {
        Request
      }
    }
  },
  computed: {
    ambition () {
      return this.value
    },
    closeDialogTitle () {
      if (this.ambitionRunningWorkflowWithAccessCount > 0) {
        return this.$t('ambition.closeDialog.title.openWorkflows')
      } else if (this.ambitionHasNoAccessWorkflows) {
        return this.$t('ambition.closeDialog.title.noAccessWorkflows')
      } else {
        return this.$t('ambition.closeDialog.title.standard')
      }
    },
    closeDialogText () {
      if (this.ambitionRunningWorkflowWithAccessCount > 0) {
        return this.$t('ambition.closeDialog.text.openWorkflows')
      } else if (this.ambitionHasNoAccessWorkflows) {
        return this.$t('ambition.closeDialog.text.noAccessWorkflows')
      } else {
        return this.$t('ambition.closeDialog.text.standard')
      }
    }
  },
  methods: {
    ...{ routeFor },
    onUpdated (ambition) {
      this.$emit('input', ambition)
    },
    onDeleted () {
      this.$router.replace({ name: 'ambitions' })
    },
    onCommentCreated (data) {
      this.onUpdated(data.ambition)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <breadcrumbs :items="ambitionBreadcrumbs" />

    <page-detail-header
      :state-text="ambitionStateText"
      :state-updated-at="ambitionStateUpdatedAtDate"
      :state-color="ambitionStateColor.background"
      :has-left-sidebar="hasLeftSidebar"
      :has-right-sidebar="hasRightSidebar"
      @open-sidebar="$emit('open-sidebar', $event)"
    >
      <template #actions="{actionRequest, loading}">
        <kebab-menu
          :disabled="loading"
          color="primary"
        >
          <template #items="{ closeMenu }">
            <v-list-item
              v-if="value.closed"
              @click="actionRequest($apiEndpoints.ambitions.reopen(value.id), onUpdated)"
            >
              <v-list-item-title>{{ $t('ambition.detailActions.reopen') }}</v-list-item-title>
            </v-list-item>

            <custom-dialog
              v-if="!value.closed"
              :title="closeDialogTitle"
              :text="closeDialogText"
              :ok-btn-text="$t('ambition.closeDialog.buttonOk')"
              ok-btn-color="error"
              @click-ok="actionRequest($apiEndpoints.ambitions.close(value.id), onUpdated)"
              @open="closeMenu"
            >
              <template #activator="{ on }">
                <v-list-item
                  v-on="on"
                >
                  <v-list-item-title>{{ $t('ambition.detailActions.close') }}</v-list-item-title>
                </v-list-item>
              </template>
            </custom-dialog>

            <custom-dialog
              :title="$t('ambition.deleteDialog.title')"
              :text="$t('ambition.deleteDialog.text')"
              :ok-btn-text="$t('ambition.deleteDialog.buttonOk')"
              ok-btn-color="error"
              @click-ok="actionRequest($apiEndpoints.ambitions.destroy(value.id), onDeleted, helper.Request.DELETE)"
              @open="closeMenu"
            >
              <template #activator="{ on }">
                <v-list-item
                  v-on="on"
                >
                  <v-list-item-title>{{ $t('ambition.detailActions.delete') }}</v-list-item-title>
                </v-list-item>
              </template>
            </custom-dialog>
          </template>
        </kebab-menu>
      </template>
    </page-detail-header>

    <title-description-control
      :title.sync="value.title"
      :description.sync="value.description"
      :request-parameter="{method: 'patch', url: $apiEndpoints.ambitions.update(value.id)}"
      :disabled="value.closed"
      class="mb-8"
      @request-success-data="onUpdated"
    />

    <objects-control
      v-model="value.workflows"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.ambitions.updateWorkflows(value.id), mapping: 'workflows'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.workflows.list()}"
      :disabled="value.closed"
      :label="`Zu erledigende Maßnahmen (${ambitionRunningWorkflowWithAccessCount} von ${value.workflows.length} offen)`"
      indent
      outlined
    >
      <template #list-item="{item, indent, cssClass, itemLink, skeleton, selectable, selected, toggleElement}">
        <workflow-list-item
          :key="item.id"
          :class="cssClass"
          :indent="indent"
          :item-link="itemLink"
          :selectable="selectable"
          :selected="selected"
          :skeleton="skeleton"
          :value="item"
          :to="routeFor('workflow', item.id)"
          @click="toggleElement ? toggleElement(item) : {}"
        />
      </template>

      <template #empty>
        <v-card-text>Notwendige Maßnahmen zur Erreichung des Ziels hinzufügen</v-card-text>
      </template>
    </objects-control>

    <activity-hub
      :gid="ambition.gid"
      class="mt-12"
      @comment-created="onCommentCreated"
    />
  </div>
</template>
