<script>
import { PageContentable } from '../page'
import Breadcrumbs from 'components/breadcrumbs'
import PageDetailHeader from 'components/page-detail-header'
import KebabMenu from 'components/kebab-menu'
import DeleteDossierDefinitionDialog from 'dialogs/delete-dossier-definition-dialog'
import DossierDefinition from 'mixins/models/dossier-definition'

export default {
  name: 'DossierDefinitionEditHeader',
  components: {
    Breadcrumbs,
    PageDetailHeader,
    KebabMenu,
    DeleteDossierDefinitionDialog
  },
  mixins: [PageContentable, DossierDefinition],
  computed: {
    dossierDefinition () {
      return this.value
    }
  },
  methods: {
    onDeleted () {
      this.$router.replace({ name: 'dossier-definitions' })
    }
  }
}
</script>
<template>
  <div v-if="value">
    <breadcrumbs :items="dossierDefinitionBreadcrumbs" />

    <page-detail-header
      :state-text="dossierDefinitionStateText"
      :state-updated-at="dossierDefinitionStateUpdatedAtDate"
      :state-color="dossierDefinitionStateColor.background"
      :has-left-sidebar="hasLeftSidebar"
      :has-right-sidebar="hasRightSidebar"
      @open-sidebar="$emit('open-sidebar', $event)"
    >
      <template #actions="{loading}">
        <kebab-menu
          :disabled="loading"
          color="primary"
        >
          <template #items="{ closeMenu }">
            <delete-dossier-definition-dialog
              :request-parameter="{ method: 'delete', url: $apiEndpoints.dossierDefinitions.destroy(value.id) }"
              @request-success="onDeleted"
              @open="closeMenu"
            >
              <template #activator="{ on }">
                <v-list-item v-on="on">
                  <v-list-item-title>{{ $t('dossierDefinition.actions.delete') }}</v-list-item-title>
                </v-list-item>
              </template>
            </delete-dossier-definition-dialog>
          </template>
        </kebab-menu>
      </template>
    </page-detail-header>

    <h1 class="text-h4 font-weight-light mb-4">
      {{ value.name }}
    </h1>
  </div>
</template>
