<script>
import UserInfo from './user-info'
import Snackbars from './snackbars'
import Avatar from 'components/avatar'
import User from 'mixins/models/user'
import trim from 'lodash/trim'
import { routeFor } from 'helpers/route'

export default {
  name: 'SiteHeader',
  components: { UserInfo, Avatar, Snackbars },
  mixins: [User],
  data () {
    return {
      drawer: false,
      query: '',
      searchFocused: false
    }
  },
  computed: {
    searchVisible () {
      return this.searchFocused || this.$vuetify.breakpoint.mdAndUp
    }
  },
  methods: {
    ...{ routeFor },
    search () {
      this.query = trim(this.query)
      if (this.query !== '') {
        this.$router.push({ name: 'search', params: { query: this.query } })
      }
    },
    activateSearch () {
      this.searchFocused = true
      const input = this.$el.querySelector('#fulltext-search')
      if (input) {
        setTimeout(() => {
          input.focus()
        }, 0)
      }
    }
  }
}
</script>
<template>
  <div>
    <v-app-bar
      app
      dark
      clipped-left
      clipped-right
      color="blue darken-3"
    >
      <v-toolbar-title
        class="pl-0 mr-2 flex-grow-2 flex-shrink-1"
        style="min-width: 36px;"
      >
        <v-btn
          href="/"
          :ripple="false"
          text
          class="site-header-home-link pa-0 text-none text-h5"
        >
          <v-img
            class="mr-lg-2"
            :src="require('images/ms-icon-310x310.png')"
            :max-height="28"
            :max-width="28"
            contain
          />
          <div class="text-truncate hidden-md-and-down">
            {{ $t('general.appName') }}
          </div>
        </v-btn>
      </v-toolbar-title>

      <v-app-bar-nav-icon
        v-if="$config.current_user"
        class="hidden-md-and-up mr-2"
        @click="drawer = true"
      />

      <template v-if="$config.current_user">
        <v-spacer class="hidden-sm-and-down" />
        <v-toolbar-items class="mr-8 hidden-sm-and-down">
          <v-btn
            :to="{ name: 'ambitions' }"
            text
          >
            Ziele
          </v-btn>
          <v-btn
            :to="{ name: 'workflows' }"
            text
          >
            Maßnahmen
          </v-btn>
          <v-btn
            :to="{ name: 'tasks' }"
            text
          >
            Aufgaben
          </v-btn>
          <v-btn
            :to="{ name: 'dossiers' }"
            text
          >
            Dossiers
          </v-btn>
        </v-toolbar-items>

        <div class="d-flex flex-grow-1 mr-sm-8">
          <v-slide-x-transition>
            <v-text-field
              v-show="searchVisible"
              id="fulltext-search"
              v-model="query"
              flat
              solo-inverted
              hide-details
              append-icon="mdi-magnify"
              label="Suchen"
              @keydown.enter="search"
              @blur="searchFocused = false"
            />
          </v-slide-x-transition>
        </div>

        <v-btn
          v-if="!searchFocused"
          icon
          class="hidden-md-and-up"
          @click="activateSearch"
        >
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <user-info
          v-if="!searchFocused"
          class="mr-2 mr-sm-8"
        />

        <v-menu
          v-if="$config.current_user.isAdmin"
          left
          bottom
          offset-y
        >
          <template #activator="{ on }">
            <v-btn
              id="admin-menu"
              class="mr-1 hidden-sm-and-down"
              icon
              v-on="on"
            >
              <v-icon>mdi-cog</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item :to="{ name: 'users' }">
              <v-list-item-content>Nutzer</v-list-item-content>
            </v-list-item>
            <v-list-item :to="{ name: 'groups' }">
              <v-list-item-content>Gruppen</v-list-item-content>
            </v-list-item>
            <v-divider />
            <v-list-item :to="{ name: 'workflow-definitions' }">
              <v-list-item-content>Maßnahmevorlagen</v-list-item-content>
            </v-list-item>
            <v-list-item :to="{ name: 'dossier-definitions' }">
              <v-list-item-content>Dossiervorlagen</v-list-item-content>
            </v-list-item>

            <template v-if="$config.current_user.isSuperAdmin">
              <v-divider />
              <v-list-item
                href="/admin/"
                target="_blank"
              >
                <v-list-item-content>Rails Admin</v-list-item-content>
              </v-list-item>
              <v-list-item
                href="/good_job/"
                target="_blank"
              >
                <v-list-item-content>Good Job</v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </v-menu>

        <v-menu
          left
          bottom
          offset-y
        >
          <template #activator="{ on }">
            <v-btn
              id="user-menu"
              icon
              v-on="on"
            >
              <avatar
                :text="$config.current_user.avatar.label"
                :image="$config.current_user.avatar.url"
                white
              />
            </v-btn>
          </template>
          <v-list id="user-menu-list">
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>{{ userFullnameFor($config.current_user) }}</v-list-item-title>
                <v-list-item-subtitle>{{ $config.current_user.email }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider />
            <v-list-item :to="routeFor('user_settings', $config.current_user.id)">
              <v-list-item-content>Einstellungen</v-list-item-content>
            </v-list-item>
            <v-divider />
            <v-list-item href="/users/sign_out">
              <v-list-item-content>Abmelden</v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-app-bar>

    <snackbars v-if="$config.current_user" />

    <v-navigation-drawer
      v-if="$config.current_user"
      v-model="drawer"
      absolute
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-subheader
          class="d-flex text-h5 mx-n2 mt-n2 px-4 py-2 primary"
          style="height: 56px;"
        >
          <v-img
            class="mr-2"
            :src="require('images/ms-icon-310x310.png')"
            :max-height="28"
            :max-width="28"
            contain
          />
          <div class="white--text text-truncate">
            {{ $t('general.appName') }}
          </div>
        </v-subheader>

        <v-list-item
          href="/"
          exact
        >
          <v-list-item-content>Home</v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name: 'ambitions' }">
          <v-list-item-content>Ziele</v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name: 'workflows' }">
          <v-list-item-content>Maßnahmen</v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name: 'tasks' }">
          <v-list-item-content>Aufgaben</v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name: 'dossiers' }">
          <v-list-item-content>Dossiers</v-list-item-content>
        </v-list-item>
        <template v-if="$config.current_user.isAdmin">
          <v-divider />
          <v-subheader class="font-weight-black text-uppercase">
            Admin
          </v-subheader>
          <v-list-item :to="{ name: 'users' }">
            <v-list-item-content>Nutzer</v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'groups' }">
            <v-list-item-content>Gruppen</v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'workflow-definitions' }">
            <v-list-item-content>Maßnahmevorlagen</v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'dossier-definitions' }">
            <v-list-item-content>Dossiervorlagen</v-list-item-content>
          </v-list-item>

          <template v-if="$config.current_user.isSuperAdmin">
            <v-list-item
              href="/admin/"
              target="_blank"
            >
              <v-list-item-content>Rails Admin</v-list-item-content>
            </v-list-item>
            <v-list-item
              href="/good_job/"
              target="_blank"
            >
              <v-list-item-content>Good Job</v-list-item-content>
            </v-list-item>
          </template>
        </template>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<style lang="scss">
    .v-btn.site-header-home-link {
      min-width: 36px !important;

      &::before {
        background-color: transparent;
      }
    }
</style>
