<script>
import { PageContentable } from '../page'
import { ListPageContentable } from '../list-page'
import DataListFilter from 'components/data-list/filter'
import SmartList from 'components/smart-list'
import TaskListItem from 'list-items/task-list-item'
import { routeFor } from 'helpers/route'

export default {
  name: 'TaskListContent',
  components: { DataListFilter, SmartList, TaskListItem },
  mixins: [PageContentable, ListPageContentable],
  computed: {
    result () {
      return this.value ? this.value.result : undefined
    }
  },
  methods: {
    ...{ routeFor }
  }
}
</script>
<template>
  <div>
    <div
      ref="container"
      class="d-flex justify-space-between mt-4"
      style="position: relative"
    >
      <h1 class="text-h4 font-weight-light pt-1">
        Aufgaben
      </h1>
    </div>

    <data-list-filter
      v-model="filters"
      @update:filter="$emit('update:prop', { prop: 'filters', value: $event.value, info: $event.field })"
    />

    <smart-list
      v-slot="{ item }"
      :value="result"
      :loading="pageRequestLoading"
    >
      <task-list-item
        :value="item"
        :to="routeFor('task', item.id)"
        indent
        :dense="false"
        divider
      />
    </smart-list>

    <v-pagination
      v-if="!pageRequestLoading && result && pages.total() > 1"
      v-model="pages.current"
      :length="pages.total()"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'pages', value: pages })"
    />
  </div>
</template>
