<script>
import { PageContentable } from '../page'
import { ListPageContentable } from '../list-page'
import DataListFilter from 'components/data-list/filter'
import SmartList from 'components/smart-list'
import WorkflowDefinitionListItem from 'list-items/workflow-definition-list-item'
import CreateWorkflowDefinitionDialog from 'dialogs/create-workflow-definition-dialog'
import { routeFor } from 'helpers/route'

export default {
  name: 'WorkflowDefinitionListContent',
  components: {
    DataListFilter,
    SmartList,
    WorkflowDefinitionListItem,
    CreateWorkflowDefinitionDialog
  },
  mixins: [PageContentable, ListPageContentable],
  computed: {
    result () {
      return this.value ? this.value.result : undefined
    }
  },
  methods: {
    ...{ routeFor },
    onCreated (workflowDefinition) {
      this.$router.push(routeFor('workflow_definition', workflowDefinition.id))
    }
  }
}
</script>
<template>
  <div>
    <div
      class="d-flex justify-space-between mt-4"
      style="position: relative"
    >
      <h1 class="text-h4 font-weight-light pt-1">
        Maßnahmevorlagen
      </h1>

      <create-workflow-definition-dialog
        @success="onCreated"
      >
        <template #activator="{ on }">
          <v-btn
            color="primary"
            text
            v-on="on"
          >
            {{ $t('workflowDefinition.actions.create') }}
          </v-btn>
        </template>
      </create-workflow-definition-dialog>
    </div>

    <data-list-filter
      v-model="filters"
      @update:filter="$emit('update:prop', { prop: 'filters', value: $event.value, info: $event.field })"
    />

    <smart-list
      v-slot="{ item }"
      :value="result"
      :loading="pageRequestLoading"
    >
      <workflow-definition-list-item
        :value="item"
        :to="routeFor('workflow_definition', item.id)"
      />
      <v-divider />
    </smart-list>

    <v-pagination
      v-if="!pageRequestLoading && result && pages.total() > 1"
      v-model="pages.current"
      :length="pages.total()"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'pages', value: pages })"
    />
  </div>
</template>
