<script>
import Request from 'api/request'
import BaseControl from 'controls/base-control'
import Controlable from 'mixins/controlable'
import Cacheable from 'mixins/cacheable'
import DossierFieldDefinitionListItem from 'list-items/dossier-field-definition-list-item'
import KebabMenu from 'components/kebab-menu'
import AddEditDossierFieldDialog from 'dialogs/add-edit-dossier-field-dialog'
import DeleteDossierFieldDefinitionDialog from 'dialogs/delete-dossier-field-definition-dialog'
import draggable from 'vuedraggable'
import merge from 'lodash/merge'
import has from 'lodash/has'
import Vue from 'vue'
import Requestable from 'mixins/requestable'

export default {
  name: 'DossierFieldsControl',
  components: {
    BaseControl,
    DossierFieldDefinitionListItem,
    KebabMenu,
    AddEditDossierFieldDialog,
    DeleteDossierFieldDefinitionDialog,
    draggable
  },
  mixins: [Controlable, Cacheable],
  props: {
    value: {
      type: Array,
      required: true
    },
    dossierDefinitionId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      moveRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: this.onUpdated
        }
      })
    }
  },
  computed: {
    createRequestParameter () {
      return {
        method: Request.POST,
        url: this.$apiEndpoints.dossierFieldDefinitions.create(),
        mapping: (data) => { return merge(data, { dossier_definition_id: this.dossierDefinitionId }) }
      }
    }
  },
  methods: {
    hasRequestParameter () {
      return false
    },
    onUpdated (value) {
      this.$emit('change', value)
    },
    onPositionChanged (event) {
      if (has(event, 'moved')) {
        this.moveRequestable.request(
          { method: Request.PATCH, url: this.$apiEndpoints.dossierFieldDefinitions.move(event.moved.element.id) },
          { index: event.moved.newIndex })
      }
    }
  }
}
</script>

<template>
  <base-control
    :label="label"
    :loading="controlLoading"
    :disabled="controlDisabled"
    :class="controlClass"
    :error-messages="controlErrorMessages"
    :error-count="Number.MAX_VALUE"
    :hint="controlHint"
    :persistent-hint="controlPersistentHint"
    :success-messages="controlSuccessMessage"
  >
    <v-list class="flex-grow-1">
      <draggable
        :list="cacheValue"
        handle=".handle"
        :force-fallback="true"
        :animation="200"
        @change="onPositionChanged"
      >
        <template v-for="(field, index) in cacheValue">
          <dossier-field-definition-list-item
            :key="`${field.id}_item`"
            :value="field"
            :divider="index < cacheValue.length - 1"
          >
            <template #icon>
              <v-icon class="handle">
                mdi-drag-horizontal
              </v-icon>
            </template>
            <template #actions>
              <kebab-menu btn-class="ml-4">
                <template #items="{ closeMenu }">
                  <add-edit-dossier-field-dialog
                    :value="field"
                    :request-parameter="{ method: 'patch', url: $apiEndpoints.dossierFieldDefinitions.update(field.id) }"
                    @request-success="onUpdated"
                    @open="closeMenu"
                  >
                    <template #activator="{ on }">
                      <v-list-item v-on="on">
                        <v-list-item-title>{{ $t('dossierFieldDefinition.actions.edit') }}</v-list-item-title>
                      </v-list-item>
                    </template>
                  </add-edit-dossier-field-dialog>

                  <delete-dossier-field-definition-dialog
                    :request-parameter="{ method: 'delete', url: $apiEndpoints.dossierFieldDefinitions.destroy(field.id) }"
                    @request-success="onUpdated"
                    @open="closeMenu"
                  >
                    <template #activator="{ on }">
                      <v-list-item v-on="on">
                        <v-list-item-title>{{ $t('dossierFieldDefinition.actions.delete') }}</v-list-item-title>
                      </v-list-item>
                    </template>
                  </delete-dossier-field-definition-dialog>
                </template>
              </kebab-menu>
            </template>
          </dossier-field-definition-list-item>
        </template>
      </draggable>
    </v-list>

    <template #actions>
      <add-edit-dossier-field-dialog
        :request-parameter="createRequestParameter"
        @request-success="onUpdated"
      >
        <template #activator="{ on }">
          <v-btn
            text
            color="primary"
            v-on="on"
          >
            {{ $t('dossierFieldDefinition.actions.add') }}
          </v-btn>
        </template>
      </add-edit-dossier-field-dialog>
    </template>
  </base-control>
</template>
