<script>
import Richtextarea from './richtextarea/richtextarea'
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import Cacheable from 'mixins/cacheable'
import Controlable from 'mixins/controlable'
import ResetBtn from 'components/reset-btn'
import CopyToClipboardBtn from 'components/copy-to-clipboard-btn'
import { number2LocaleString } from 'helpers/number'

export default {
  name: 'RichtextareaControl',
  components: { Richtextarea, ResetBtn, CopyToClipboardBtn },
  mixins: [Requestable, Cacheable, Controlable],
  props: {
    ...requestablePropFactory().props,
    value: {
      type: String,
      default: undefined
    },
    hint: {
      type: String,
      default: 'Markiere um zu formatieren. Für Verweise im Text: @Nutzer, !Ziel, %Maßnahme, #Aufgabe, *Dossier'
    }
  },
  methods: {
    onRequestSuccess (data) {
      this.controlShowSuccessMessage()
      this.$emit('input', this.cacheValue)

      if (data) {
        this.$emit('request-success-data', data)
      }
    },
    characterCountAsLocaleString () {
      let count = 0

      if (this.$el) {
        const tmp = this.$el.querySelector('.ProseMirror')
        count = [...tmp.innerText.trim()].length
      }

      return number2LocaleString(count)
    },
    clipboardData () {
      const result = {
        'text/html': this.cacheValue
      }

      if (this.$el) {
        result['text/plain'] = this.$el.querySelector('.ProseMirror').innerText
      }

      return result
    }
  }
}
</script>

<template>
  <richtextarea
    v-model="cacheValue"
    :label="label"
    :loading="controlLoading"
    :disabled="controlDisabled"
    :readonly="controlReadonly"
    :class="controlClass"
    :error-count="Number.MAX_VALUE"
    :error-messages="controlErrorMessages"
    :hint="controlHint"
    :persistent-hint="controlPersistentHint"
    :success-messages="controlSuccessMessage"
    :counter="controlIsFocused"
    @blur="controlOnBlur(); controlOnChange()"
    @input="controlOnInput"
    @focus="controlOnFocus"
  >
    <template #append>
      <reset-btn
        v-if="cachedValueChanged && controlHasError"
        @click="controlReset"
      />
      <copy-to-clipboard-btn
        v-if="cacheValue"
        :value="clipboardData()"
      />
    </template>
    <template #counter="{ props }">
      <v-counter
        v-bind="props"
        :value="`${characterCountAsLocaleString()} Zeichen`"
      />
    </template>
  </richtextarea>
</template>
