<script>
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import Cacheable from 'mixins/cacheable'
import Richtextarea from 'controls/richtextarea/richtextarea'
import RichtextareaContent from 'components/richtextarea-content'

export default {
  name: 'TitleDescriptionControl',
  components: { Richtextarea, RichtextareaContent },
  mixins: [Requestable, Cacheable],
  props: {
    ...requestablePropFactory().props,
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      default: ''
    },
    editableTitle: {
      type: Boolean,
      default: true
    },
    disabled: Boolean
  },
  data () {
    return {
      editMode: false
    }
  },
  computed: {
    titleChanged () {
      return this.cacheValue.title !== this.title
    },
    descriptionChanged () {
      return this.cacheValue.description !== this.description
    },
    cachedValueChanged () {
      return this.titleChanged || this.descriptionChanged
    },
    changedValue () {
      const res = {}
      if (this.titleChanged) res.title = this.cacheValue.title
      if (this.descriptionChanged) res.description = this.cacheValue.description

      return res
    }
  },
  watch: {
    title: {
      handler () {
        this.createCacheValue()
      },
      immediate: true
    },
    description: {
      handler () {
        this.createCacheValue()
      },
      immediate: true
    }
  },
  methods: {
    createCacheValue () {
      this.cacheValue = {
        title: this.title,
        description: this.description
      }
    },
    onEdit () {
      this.editMode = true
    },
    onCancel () {
      this.editMode = false
      this.createCacheValue()
      this.resetRequestable()
    },
    onRequestSuccess (data) {
      this.editMode = false

      if (this.titleChanged) this.$emit('update:title', this.cacheValue.title)
      if (this.descriptionChanged) this.$emit('update:description', this.cacheValue.description)

      if (data) {
        this.$emit('request-success-data', data)
      }
    }
  }
}
</script>
<template>
  <div v-if="!editMode">
    <div class="d-flex mb-2">
      <h1 class="text-h4 font-weight-light">
        {{ title }}
      </h1>

      <v-btn
        :disabled="disabled"
        class="ml-auto"
        color="primary"
        icon
        @click="onEdit"
      >
        <v-icon>mdi-square-edit-outline</v-icon>
      </v-btn>
    </div>
    <div class="secondary--text">
      <richtextarea-content :template="description" />
    </div>
  </div>
  <v-card
    v-else
    :loading="requestableLoading"
  >
    <v-card-text class="pb-0">
      <v-text-field
        v-if="editableTitle"
        v-model="cacheValue.title"
        :label="$t('general.title')"
        :disabled="requestableLoading"
        :error-messages="validationErrorMessageFor('title')"
        :error-count="Number.MAX_VALUE"
        autofocus
        class="mb-5"
      />
      <h1
        v-else
        class="mb-4 text-h4 font-weight-light"
      >
        {{ title }}
      </h1>

      <richtextarea
        v-model="cacheValue.description"
        :label="$t('general.description')"
        :disabled="requestableLoading"
        :error-messages="validationErrorMessageFor('description')"
        :error-count="Number.MAX_VALUE"
      />
    </v-card-text>

    <v-card-actions class="px-4">
      <div
        v-if="hasError"
        class="error--text"
      >
        {{ baseErrorMessage }}
      </div>
      <v-spacer />
      <v-btn
        :disabled="requestableLoading"
        color="secondary"
        text
        @click="onCancel"
      >
        {{ $t("general.buttons.cancel") }}
      </v-btn>

      <v-btn
        color="primary"
        :disabled="!cachedValueChanged || requestableLoading"
        depressed
        @click="cachedValueChanged && request(requestParameter, null, cacheValue)"
      >
        {{ $t("general.buttons.save") }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
