!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = capybara_lockstep if defined?(Capybara::Lockstep)
    - if current_user
      = action_cable_meta_tag
    %title samarbeid
    = render 'layouts/favicon'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    %script#vue-config{type: 'application/json'}
      = raw render partial: "layouts/vueconfig", formats: [:json], object: current_user, as: :user

    = javascript_pack_tag "application"

    = stylesheet_pack_tag "vue"
    = javascript_pack_tag "vue"
  %body
    %v-app#vue-app
      %header
        %site-header
      = yield
      %site-footer
